spacy>=3.4.1
spacy-legacy>=3.0.10
gunicorn
graphviz
Flask
pandas
Afinn
plotly
scikit-learn
CherryPy
Werkzeug
regex
bs4
google
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0.tar.gz#egg=en_core_web_sm
