{% extends "base.html" %}

{% block content %}

<div class="masthead-content">
    <div class="container px-5">

<br>
    &#10004; {{" Your files have been received successfully!"}}
    <br><br>
      <p>This book has {{length}} sentences! </p>

      <!-- In here goes the other info of this book from google and goodreads-->

      <p>In order for you to see the final graph and explanations, you first need to analyze the sentim
        and then go to the named entity recognition section. You can of cource have a peak at both before
        the final analysis. 🙂 
      </p>
      <form action="#"  method="post" enctype="multipart/form-data">
        <p><input type="submit" name="submit" value="Go to Sentiment Analysis!"  class="btn btn-success"></p>
        <p><input type="submit" name="submit" value="Go to Named Entity recognition!"  class="btn btn-success"></p>
      </form>
  
     <br>
     <br>
     <br>
     
</div>
</div>
{% endblock %}

