{% extends "base.html" %}

{% block content %}

<div class="masthead-content">
    <div class="container px-5">

<br>
    &#10004; {{" Your files have been received and processed successfully!"}}
    <br><br>
      <p>Based on our analysis this book has <b>{{length}}</b> sentences! </p>
      <p><b>{{book_title}}</b> is written by <i>{{author}}</i> in {{year_published}}.
         It has {{reviews}} and {{ratings}} on GoodReads. </p>



      <!-- In here goes the other info of this book from google and goodreads-->

      <p>In order for us to see the final graph and explanations, we first need to analyze the sentiment
        and then go to the named entity recognition section. 🙂 
      </p>
      <form action="#"  method="post" enctype="multipart/form-data">
        <p><input type="submit" name="submit" value="Analyze the Sentiment!"  class="btn btn-success"></p>
      </form>
  
     <br>
     <br>
     <br>
     
</div>
</div>
<script src="static\assets\script_sidebar.js"></script>
{% endblock %}

