{% extends "base.html" %}

{% block content %}
<div class="col-lg-6 order-lg-1">
  <div class="p-5">

</div></div>
    <div class="p-5">
        <h2 class="display-4">Let's get started!</h2>
    <p> please input the book information:</p>
        </div>
  <div class="masthead-content">
    <div class="container px-5">

  <form action="#" method="post" enctype="multipart/form-data">
    <p>Book title: <input type="text" name="book_title"></p>
    <p>Book content: <input type="file" name="book_content" ></p>


      <p>If this book has any chapters please write one sample of it in the box bellow.
        For example, if in the beginning of each chapter we have: "CHAPTER ..." write "CHAPTER" in the box.
      If not, just type: "no chapter".</p>
      <p><input type="text", name="chapter_regex"></p>
    <input type="submit" name="submit" value="Submit Book Info"  class="btn btn-success">
      <br>    <br>
    </form>



  {% if received %}
  <br>
    &#10004; {{" Your files have been received successfully!"}}
    <br><br>
      <p>This book has {{length}} sentences! </p>

      <!-- In here goes the other info of this book from google and goodreads-->

      <p>In order for you to see the final graph and explanations, you first need to analyze the sentim
        and then go to the named entity recognition section. You can of cource have a peak at both before
        the final analysis. 🙂 
      </p>
      <form action="#"  method="post" enctype="multipart/form-data">
        <p><input type="submit" name="submit" value="Go to Sentiment Analysis!"  class="btn btn-success"></p>
        <p><input type="submit" name="submit" value="Go to Named Entity recognition!"  class="btn btn-success"></p>
      </form>
     {% endif %}
  
     <br>
     <br>
     <br>

</div>
</div>
{% endblock %}

