{% extends "base.html" %}


{% block content %}

  <!-- Content section 1-->
    <div class="col-lg-6 order-lg-1" >
        <div class="p-5">
            <h2 class="display-4">A quick intro:</h2>
            <p>In this website we can take out the important 
                features, emotions, characters and find out the overall vibe of a book.</p>
        
              <h2 class="display-4">Let's get started!</h2>
              <p> Click on the button if you want to proceed:</p>
              <form action="#" method="post" enctype="multipart/form-data">
                <input type="submit" name="submit" value="Go!"  class="btn btn-success">
              </form>
              <br>

        </div>
  </div> 
  <div style="position: relative;">
    <iframe id="embed" width="800" height="800"
    src="https://observablehq.com/embed/@mitramir55/force-directed-graph/2?cells=chart"></iframe>


</div>

<script src="static\assets\script_sidebar.js"></script>

<br> <br> 
  {% endblock %}