{% extends "base.html" %}

{% block content %}
<div class="masthead-content">
    <div class="container px-5">
<h5>Named Entity Recognition</h5>
 <p>In this section we use 
  <a href="https://github.com/explosion/spacy-models/releases/tag/en_core_web_sm-3.2.0">SpaCy's small model.</a></p>

        <br>
        <p>In here we are using SpaCy's NER to identify the names in your text.
            After this step, we flatten the names (remove honararies, titles, or last names), sort them, and 
            ask you to take a look to make sure no extra info is included. 
            You get to choose the number of characters you want to stay in the game for the final analysis.
            
        </p>
        {% if not received %}
            <form action="#"  method="post" enctype="multipart/form-data">
                <p>How many names do you want to have in your character analysis? (recommended = 25)
                    <input type="text" name="n"></p>
                <p><input type="submit" name="submit" value="Find the Names!"  class="btn btn-success"></p>
            </form>
        {% endif %}

        {% if received %}
        <hr>
        <p> &#128103; &#128102; Here are top n characters of this novel: </p>
            {% for name in names %}
                {% if name == names[-1] %}
               <p style="display:inline">{{name}}</p>
               {% else %}
                <p style="display:inline">{{name}}, </p>

                {% endif %}
            {% endfor %}
            <br>
<br>
        {% print "The total number of unique names found:" %}
        {{length}}
        <br><br>
        <table  class="table">
            <tr>
                {% for col in column_names %}
                <th style="background-color: #74c5c1;" class="col">{{ col }}</th>
                {% endfor %}
            </tr>
            {% for row in row_data %}
            <tr scope="row">
                {% for col, row_ in zip(column_names, row) %}
                {% if col == link_column %}
                <td>
                        {{ row_ }}
                </td>
                {% else %}
                <td>{{row_}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

        </table>
        <br>

        <p>Sometimes, the SpaCy model might not recognize specific names 
            (especially rare names or names coined by the author). In that case, we can make sure that the cadre of 
        characters is complete by searching for the name and ranking it ourself.</p>
        <p>Please add or remove names by entering in the boxes below. (if any name is missing).
            If there are several names you wish to add or remove, type them and separate them with comma 
            (e.g., write <span style="color:rgb(119, 119, 141)">Hagrid, Milly</span>)
            If there aren't any 
            modifications, just click submit and you're good to go!
        </p>
        <form action="#"  method="post" enctype="multipart/form-data">
            <p>Missing names:
                <input type="text" name="unrecognized_names"></p>
                <p>Redundant name:
                    <input type="text" name="extra_names"></p>
            <p><input type="submit" name="submit" value="Add and Remove These!" class="btn btn-success"></p>
            <p><input type="submit" name="submit" value="No problem! Go to the next step!" class="btn btn-success"></p>
        </form>
            
        {% endif %}


</div>
</div>


{% endblock %}