
{% extends "base.html" %}


{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertical Dark Timeline</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="static\assets\preview_page_css.css" />
</head>
<body>
    <div class="container">
        <div class="timeline">
            <div class="timeline-container primary">
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Book Info</span></h4>
                    <p>
                        First, you enter the book details (name and the way chapters are in the text).
                        With the help of this info, the website scrapes more info from GoodReads website to tell you 
                        about the author, year of publishing, and other facts.
                        The SpaCy small model is also utilized in this step to count the number of sentences in the file 
                        you upload.
                    </p>
                    <div class="imageDiv">
                        <img width="500" height="400" id="imageElement" src="static\preview pics\info book.png" alt="book information result">
                    </div>
                    
                </div>
            </div>
            <div class="timeline-container danger">
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Sentiment Analysis</span></h4>
                    <p>
                        In this step we separate sentences with SpaCy and analyze them with Afinn. At the end we 
                        get a nice graph of the overall mood of the book.
                    </p>
                    <div class="imageDiv">
                        <img width="500" height="400" id="imageElement" src="static\preview pics\pic2_senti.png" alt="book information result">
                    </div>
                    
                </div>
            </div>
            <div class="timeline-container success">
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Named Entity Recognition - NER</span></h4>
                    <p>
                        After saving the sentiment indicator for each sentence, we once again process them and 
                        look for names of people\characters in the book.
                    </p>
                    <div class="imageDiv">
                        <img width="500" height="400" id="imageElement" src="static\preview pics\pic3_ner1.png" alt="book information result">
                    </div>
                    <p>
                        <br>
                        Sometimes, you might not see the names of specific characters or just find some redundant 
                        names between them. If there was any change you wanted to make in the list, you can simply use the
                        last two boxes to write the names of people in.
                    </p>
                    <div class="imageDiv">
                        <img src="static\preview pics\pic4_ner2.png" id="imageElement" alt="modifying">
                    </div>
                    
                </div>
            </div>

            
            <div class="timeline-container warning">
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Co-occurrence</span></h4>
                    <p>
                        For this part, we analyze at how characters interact with each other 
                        by looking at their mutual occurrence in one sentence. Then, we use the 
                        sentiment scores of these sentences and create a table indicating characters relationships.
                    </p>
                    <div class="imageDiv">
                        <img style=" height: 300px;" id="imageElement" src="static\preview pics\pic5_co1.png" alt="book information result">
                    </div>
                </div>
            </div>
            <div class="timeline-container">
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Character Progress</span></h4>
                    <p>
                        Because we want to get a good overview of characters' roles and importance,
                        we also look at their presence through out the book. We do that by segmenting 
                        text into n pieces and counting the appearance of each person in that segment.
                        
                    </p>
                    <div class="imageDiv">
                        <img style="height: 300px;" id="imageElement" src="static\preview pics\pic6_progress.png" alt="book information result">
                    </div>
                    
                </div>
            </div>
            <div class="timeline-container info">
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">The Graph</span></h4>
                    <p>
                        The final step is creating a graph. For this visualization, I utilized D3 library Graph force 
                        to depict nodes and edges.
                    </p>
                    
                    <div class="imageDiv">
                        <img style="" id="imageElement" src="static\preview pics\pic7_graph.png" alt="book information result">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
   <section class="author">
    <p>Created by:  <a style="color: black;" href="https://github.com/mitramir55" target="_blank" title="Mitra">Mitra Mirshafiee</a></p>
    <a href="{{ url_for('index') }}" target="_blank" class="btn">Home page</a>
</section>

  {% endblock %}