<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertical Dark Timeline</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
</head>
<body>
    <div class="container">
        <div class="timeline">
            <div class="timeline-container primary">
                <div class="timeline-icon">
                    <i class="far fa-grin-wink"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Primary</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                    <p class="timeline-subtitle">1 Hours Ago</p>
                </div>
            </div>
            <div class="timeline-container danger">
                <div class="timeline-icon">
                    <i class="far fa-grin-hearts"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Danger</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                    <p class="timeline-subtitle">2 Hours Ago</p>
                </div>
            </div>
            <div class="timeline-container success">
                <div class="timeline-icon">
                    <i class="far fa-grin-tears"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Success</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                    <p class="timeline-subtitle">6 Hours Ago</p>
                </div>
            </div>
            <div class="timeline-container warning">
                <div class="timeline-icon">
                    <i class="far fa-grimace"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Warning</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                    <p class="timeline-subtitle">1 Day Ago</p>
                </div>
            </div>
            <div class="timeline-container">
                <div class="timeline-icon">
                    <i class="far fa-grin-beam-sweat"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Secondary</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                    <p class="timeline-subtitle">3 Days Ago</p>
                </div>
            </div>
            <div class="timeline-container info">
                <div class="timeline-icon">
                    <i class="far fa-grin"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Info</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                    <p class="timeline-subtitle">4 Days Ago</p>
                </div>
            </div>
        </div>
    </div>
</body>
   <section class="author">
    <p>Created by:  <a href="https://responsivemart.com" target="_blank" title="ResponsiveMart">ResponsiveMart</a></p>
    <a href="https://responsivemart.com/product/vertical-dark-timeline/" target="_blank" class="btn">Download Source Code</a>
</section>
